.ant-menu{
  background-color: #804D12;
}

.ant-layout-header{
  background-color: #804D12;
}

.ant-menu-item-selected{
  background-color: #fdeede !important;
  color: #804D12 !important;

  .ant-menu-title-content{
      color: #804D12 !important;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
